body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 900px;
  margin: auto;
}

header {
  margin-bottom: 10px;
  background-color: lightgray;
}

h1 {
  margin-top: 0;
}

footer {
  background-color: lightgray;
}

#first-parag {
  display: flex;
}

#first-parag img {
  margin-right: 10px;
}
